.dashboard-container {
	margin-top: 40px;
}
.h2-dashboard {
	font-size: 20px;
	margin: 20px 0;
}
.h3-dashboard {
	font-size: 18px;
}

#my-projects-container {
	margin-top: 20px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
}

#number-suppliers {
	text-align: center;
	padding: 16px;
}
table {
	text-align: center;
	// margin: 0 auto;
	// width: 90%;

	thead {
		border: 1px solid black;
		th {
			width: 300px;
			font-size: 16px;
			padding: 20px 25px;
			font-weight: 400;
		}
	}
	td {
		padding: 20px 0;
	}
	tr:first-of-type {

		td {
			padding-top: 30px;
		}
	}

}

.container-dashboard {
	width: 95%;
	margin: 0px auto;
	i {
		margin-right: 10px;
	}
}

.see-all {
	text-align: right;
	margin-top: 20px;
	a {
		font-size: 14px;
	}
}

.ul-columns {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
	margin: 0;
	padding-top: 20px;

	// display: flex;
  // flex-direction: column;
	li {
			font-size: 12px;
			padding: 10px;
	}
}

.title-line {
	display: flex;
	align-items: center;
	margin-top: 20px;
}
.title-line-child {
	border: 1px solid black;
	flex-grow: 1;
	margin-left: 13px;
}
.my-projects {
	.card {
		width: 48%;
		padding: 30px 50px;
		justify-content: space-between;
	}
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color:#000000;
    text-decoration:none;
    cursor:pointer;
}

.graph-container {
	margin-top: 20px;
	margin-bottom: 40px;
	justify-content: space-between;
	.cards {
		margin: 0;
		width: 26%;
		.card {
width: 100%;
		}
	}
	.graphs {
		width: 68%;
		border: #000000 1px solid;
		padding: 40px;
	}
}
.inner-box.cards {
	width: 100%;
	.card {
		width: 50%;
    margin-top: 20px;
    border: none!important;
	}

}
.info-two-boxes {
	p:first-of-type {
		font-size: 24px;
		padding: 20px;
	}
	p {
		padding: 10px;
		text-align: center;
	}
}
.graph-title {
	margin-bottom: 30px;
	text-align: center;
}
.graph-columns {
	padding-bottom: 20px;
	.graph-box {
		line-height: 150px;
		height: 150px;
		width: 40%;
		border-right: 1px black solid;
		p {
		 font-size: 24px;
		 text-align: center;

	 }
	}
	ul {
		padding: 0 20px;
		list-style-type: none;
		li {
			// height: 30px;
			// line-height: 30px;
			padding: 10px 0;
		}
		span {
			float: right;
		}
	}
}

.parent-icon {
	// position: relative;
	span {
		float: right;
		i {
			font-size: 36px;
			// position: absolute;
    // top: -4px;
    // left: 320px;
		}
	}
}

.flat-form {
	padding-bottom: 50px;
}

.supplier-result-grid {
	grid-template-columns: repeat(3, 1fr);
}

.vertical-ytitle .ct-vertical-ytitle {
  writing-mode: vertical-rl; /* For modern browsers */
  transform: rotate(180deg); /* For older browsers */
  white-space: nowrap;
  text-orientation: mixed;
  transform-origin: center center;
  overflow: visible;
  position: relative;
  left: -20px; /* Adjust the value to align it properly */
  top: 50%; /* Adjust the value to center it vertically */
}

.container-current-projects {
	margin-top: 30px;
	margin-bottom: 30px;
 }
.chat-paragraph
 {
	font-size: 12px;
 }
