
.big-container-showpage {
  display:flex;
  justify-content: space-between;
  margin-top:40px;
  margin-bottom:40px;
}

.left-conatainer-showpage {
  width: 25%;
  border: 1px solid black;
  height: fit-content;
  padding: 13px;
}

.right-conatainer-showpage {
  width: 70%;
}

.description-supplier-showpage {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 30px;
}

#supplier-name-rating-showpage {
  display:flex;
}


#customized-header {
  display: flex;
  align-items: center;
  margin:40px 0px;
}

#map-component {
  width: 100%;
  height: 320px;
}

.project-pictures-showpage {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:20px;
  width:100%
}

.review-showpage {
  display:flex;
  border: 1px solid black;
  padding: 14px;
  margin-top:30px;
}

.showpage-all-button-showpage {
  display:flex;
  flex-direction:column
}

.submit-button {
  margin-bottom:20px;
}

#review-comment-showpage {
  margin-top:20px
}

#review-rating-showpage {
  margin-left:40px;
}

#label {
  display: none;
}

.showpage-description {
  max-width: 1300px;
}

.showpage-card {
  border: 1px solid #131212;
  width: 30%;
  padding: 20px;
}

.supplier-showpage-image {
  width: 100%;
  margin-bottom:40px;
}

.showpage-card-header {
  border: 1px solid #131212;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 100px;
  margin-bottom: 300px;
  padding: 10px;
  width: 400px;
  height: 500px;
}


.showpage-title {
  border: 1px solid #131212;
}

.show-supplier__btn {
  text-decoration: none;
  color: white;
  background-color: black;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}



.previous-project-images {
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 8px;
  border: 1px solid #ccc;
  /* Optional border */

}

// NOOOO!!!
// .show-page__btn {
//   margin-bottom: -330px;
// }

.show-page__btn{
  display: flex;
  justify-content: center;
}

.showpage-favorite-back__btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;

  text-decoration: none;
  color: white;
  background-color: black;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s
}

/* Regular heart icon */
.far.fa-heart {
  color: black;
  /* Set the default heart color */
  transition: color 0.3s;
  /* Add a transition for smooth color change */
}

/* Hover effect for the heart icon */
.far.fa-heart:hover {
  color: red;
  /* Change the heart color on hover */
}



#showpage-add-favorites {
  color: black;
  text-decoration: none;
}

#new_review {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#review-submit-container {
  display: flex;
  width: 80%;
}


#comment-review-box {
  display: flex;
  width: 80%;
}

#button-submitform-showpage {
  width: 10%;
  height: fit-content;
  display: flex;
  margin-left: 750px;
  margin-bottom: 40px;
  margin-block-start: -53px;
}

#new_review {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#comment-showpage {
  display: flex;
  width: 80%
}


#review-picture-brand {
  width: 50px;
  height: 49px;
}

.reviews-showpage-supplier {
  width: 812px;
  height: 180px;
  flex-shrink: 0;
  border: 1px solid black;
}
.review_comment{
  flex-grow:1
}
.review-header {
  display: flex;
  width: 750px;
  height: 120px;
  margin: 10px;
}

.form-label {
  display: none;
}

.btn-primary-showpage {
  margin-left: 750px;
  margin-bottom: 40px;
  margin-block-start: -53px;
  background-color: black;
  color: white;
}
