<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="flat-form">
        <h3 class="mb-4">Number of Suppliers Worked With</h3>
        <div class="flex-container justify-content-center align-items-center">
          <div class="flex-item">
            <% if @num_suppliers_worked_with.present? %>
              <p><%= @num_suppliers_worked_with %></p>
            <% else %>
              <p>No suppliers worked with.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="flat-form">
        <h2 class="mb-4">Total Projects Manufactured</h2>
        <div class="flex-container justify-content-center align-items-center">
          <div class="flex-item">
            <% if @total_projects_manufactured.present? %>
              <p><%= @total_projects_manufactured %></p>
            <% else %>
              <p>No projects manufactured.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="flat-form">
        <h2 class="mb-4">Total products manufactured</h2>
        <div class="flex-container justify-content-center align-items-center">
          <div class="flex-item">
            <% if @total_products_manufactured.present? %>
              <p><%= @total_products_manufactured%></p>
            <% else %>
              <p>No products manufactured.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
