<%= @user %>
<%=# raise %>

<div class="content">
	<div class="sidebar">
		<div id="add-production"></div>
		<div id="dashboard"></div>
		<div id="projects"></div>
		<div id="messages"></div>
		<div id="favorites"></div>
	</div>
	<div class="main">
		<div id="my-productions">
			<div class="my-production"></div>
			<div class="my-production"></div>
			<div class="my-production"></div>
			<div class="my-production"></div>
		</div>
		<div id="status">
			<div class="active-productions"></div>
			<div class="unread-messages"></div>
		</div>
	</div>
</div>
