<%# Title and banner %>
<div class="container">
  <h1>L'atelier</h1>
  <img src="https://cdn.musebycl.io/2021-10/Burberry%20Open%20Spaces%20hed%202021_0.jpg" alt="banner">
</div>

<<<<<<< HEAD
<%# filter (add when luca is done) %>
=======
<%= render "pages/partial/filter" %>
>>>>>>> b5fd353ad9cbbc9a589bae91d1aeee81415db1cb


<%# Cards of 8 countries %>
<div class="container">
  <div class="row">
    <% @suppliers.each do |supplier| %>
      <div class="col-sm-3">
        <div class="card">
          <%= link_to supplier.country, suppliers_path(country: supplier.country) %>
          <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Color-white.JPG" alt="">
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# About us %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class
