.navbar {
  justify-content: space-between;
  background-color: rgb(235, 235, 235);
  border-radius: 6px;
}


.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.navbar-brand img {
  width: 30px;
}

.navbar .spacing-left {
  padding-right: 50px;
}

.navbar .spacing-left-bis {
  padding-right: 6px;
}

.navbar .spacing-right {
  padding-left: 50px;
}

.navbar .button-corner {
  border-radius: 12px;
}

.navbar .spacing-side-left {
  padding-left: 20px;
}

.navbar .spacing-side-right {
  padding-right: 10px;
}

.navbar .search-bar {
  color: white;
  width: 500px;
}
