<%= link_to 'back', suppliers_path(@supplier) %>
<% if current_user.brand.favorites.find_by(brand_id: current_user.brand) %>
  <p>Already in favorites</p>
<% else %>
  <%= link_to 'Add to Favorites',  supplier_favorites_path(@supplier, @favorite), data:{turbo_method: :post} %>
<% end %>



<h1><%= @supplier.name %></h1>
<h2>Company overview</h2>
<%= @supplier.description %> <br>

<h2>Previous projects details</h2>

<h2>Reviews</h2>

<h2>Submit</h2>
#link to new supplier button

<h3> Map </h3>

<h2>Messages</h2>
#link to new message buttton
